
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
}
img {
  max-width: 100%;
  max-height: 100%;
}



/* Navigation Bar */
nav{
  height: fit-content;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

nav li :not(#navTitle){
  float: right;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-top: 5px;
  text-decoration: none;
  font-size:medium;
}
.active {
  background-color: black;
}
nav li a:hover{
  color: black;
  font-weight: bold;
}
#navTitle:hover, .active:hover{
  color: white;
  font-weight: normal;
  text-decoration: none;
}
#navTitle{
  font-size:larger;
}




/* Placement of main sections*/
body {
    display:flex;
    flex-direction: column;

    margin: 0 auto;
    gap: 2rem;
    align-items: flex-start;

    font-family: Arial, sans-serif;
    background-color: black;
}

header{
  order:1;
  position: relative;
  width: 100%;
  height: fit-content;
}


main{
  order: 2;
  width: 100%;
  height: fit-content;
}





/* HOME PAGE */
.home{
  background-color: black;
}
.top_home{
  display:flex;
  flex-direction: row;

  margin: 0 auto;
  gap: 2rem;
  align-items: flex-start;
}

.top_home #title_home{
  order: 1;
  width: 30%;
  height: fit-content;

  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  padding: 10pt;

  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
}

.top_home #image_home{
  order: 2;
  width: 70%;
  height: min-content;

  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  padding: 10pt;

  background-color: white;
}

.top_home #title_home h1{
  text-align: center;
}
.top_home #title_home h2{
  text-align: center;
  font-size: 1.5rem;
}
.top_home #title_home p{
  text-align: left;
}
.top_home #title_home ul{
  text-align: left;
}
.top_home #title_home ul li{
  text-decoration: none;
}

.mid_home{
  height: fit-content;

  margin: 2rem;
  padding: 10pt;

  background-color: white;
  color: black;
  text-align: left;
}




/* ABOUT PAGE */
#about_holder{
  margin: 2rem;
  padding: 10pt;
  background-color: white;
  color: black;
  height: max-content;
}
#about_clear{
  clear:both;
}
 #aes_about {   /*image*/
  float: right;    
  margin: 0 0 0 15px;
  width: 30%;
  height: auto;
  }





  /* DEMO PAGE */
#demo_main{
  margin: 2rem;
  padding: 10pt;
  background-color: white;
  color: black;
  height: max-content;
}

form {
  margin: 20px auto;
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
}


/* HISTORY PAGE */
#history_main{
  margin: 2rem;
  padding: 10pt;
  background-color: white;
  color: black;
  height: max-content;
}


/* TIMING PAGE */
#timing_main{
  margin: 2rem;
  padding: 10pt;
  background-color: white;
  color: black;
  height: max-content;
}










/* LEARN PAGE */
#text_learn{
  margin-left:200px;
  margin-top: 2rem;
  margin-right: 2rem;
  
  padding: 10pt;
  background-color: white;
  color: black;
}


/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: fit-content;
  background-color: white;
  position: fixed;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Links on mouse-over */
.sidebar a:hover{
  background-color: #555;
  color: white;
}

