<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="AES Encryption Website">
  <link rel="stylesheet" type="text/css" href="/static/style1.css?v={{time}}">
  <title>AES Encryption Explorer</title>
</head>

<body class="home">
  <header>
    <nav>
      <ul>
        <li><a id="nav_timing">Timing</a></li>
        <li><a id="nav_history">History</a></li>
        <li><a id="nav_demo">Demo</a></li>
        <li><a id="nav_learn">Learn</a></li>
        <li><a id="nav_about">About</a></li>
        <li><a class="active" id="nav_home">Home</a></li>
        <li><a style="float:left" id="navTitle">AES Encryption Explorer</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="top_home">
      <div id="title_home">
        <h1>AES Encryption Explorer</h1>
        <p>Welcome to <strong>AES Encryption Explorer</strong>, an interactive educational website designed to deepen your understanding of Advanced Encryption Standard (AES)
          —the gold standard for secure data encryption. Whether you're a student, researcher, or cybersecurity enthusiast, our platform provides an engaging way to explore AES 
          through live demonstrations and performance-optimized hardware acceleration.  </p>
      </div>

      <div id="image_home">
        <img src="/static/images/aes_home.jpeg" alt="Cyber Security" title="aes_home">
      </div>
    </div>

    <div class="mid_home">
      <h2>Features</h2>
      <ul>
        <li><strong>Live AES Encryption Demo</strong> - Encrypt and decrypt messages in real-time using our intuitive interface.  </li>
        <li><strong>Hardware-Accelerated Performance</strong> - Experience AES encryption offloaded to a PYNQ FPGA board for optimized speed and efficiency.    </li>
        <li><strong>Timing Optimization Analysis</strong> - Compare software and hardware execution times to see the power of acceleration in action.    </li>
        <li><strong>History & Evolution of AES</strong> - Learn about the origins of AES, its adoption as the U.S. government encryption standard, and why it remains crucial for cybersecurity today.    </li>
      </ul>
      <p>Explore encryption like never before—see how modern hardware enhances security and speed. <strong>Try our live demo now!</strong> </p>
    </div>

  </main>

  <script>
    document.getElementById('nav_history').addEventListener('click', function (event) {
      event.preventDefault();  // Prevent default anchor behavior
      window.location.href = '/history';  // Navigate to the history page
    });

    document.getElementById('nav_demo').addEventListener('click', function (event) {
      event.preventDefault();  // Prevent default anchor behavior
      window.location.href = '/demo';  // Navigate to the history page
    });

    document.getElementById('nav_timing').addEventListener('click', function (event) {
      event.preventDefault();  // Prevent default anchor behavior
      window.location.href = '/timing';  // Navigate to the timing page
    });

    document.getElementById('nav_learn').addEventListener('click', function (event) {
      event.preventDefault();  // Prevent default anchor behavior
      window.location.href = '/learn';  // Navigate to the learn page
    });

    document.getElementById('nav_about').addEventListener('click', function (event) {
      event.preventDefault();  // Prevent default anchor behavior
      window.location.href = '/about';  // Navigate to the About page
    });

    document.getElementById('nav_home').addEventListener('click', function (event) {
      event.preventDefault();  // Prevent default anchor behavior
      window.location.href = '/';  // Navigate to the home page
    });

  </script>
</body>

</html>