<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="AES Encryption Website">
  <link rel="stylesheet" type="text/css" href="/static/style1.css?v={{time}}">
  <title>AES Encryption Explorer</title>
</head>

<body id="body_learn">
  <header>
    <nav>
      <ul>
        <li><a id="nav_timing">Timing</a></li>
        <li><a id="nav_history">History</a></li>
        <li><a id="nav_demo">Demo</a></li>
        <li><a class="active" id="nav_learn">Learn</a></li>
        <li><a id="nav_about">About</a></li>
        <li><a id="nav_home">Home</a></li>
        <li><a style="float:left" id="navTitle">AES Encryption Explorer</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div id="learn_main">


      <!-- The sidebar -->
      <div class="sidebar">
        <a href="#Sbox">S-Box</a>
        <a href="#keyExpansion">Key Expansion</a>
        <a href="#addRoundKey">Add Round Key</a>
        <a href="#subBytes">Sub Bytes</a>
        <a href="#shiftRows">Shift Rows</a>
        <a href="#mixColumns">Mix Columns</a>
      </div>

      
      
      <div id="text_learn">
        <h1>Learn How AES Encryption Works</h1>
        <p>
          As data leaks continue to make daily headlines, encryption is no longer just an option—it's a necessity.
          In this past year alone, the average cost of a single data breach soared to an all time high of 4.88 million
          dollars <a href="#source1_learn">(Cost of a Data Breach Report 2024)</a>.
          From medical records to confidential government documents, data privacy is essential for individuals,
          businesses, and national security alike.
        </p>
        <p>
          The Advanced Encryption Standard (AES) is the strongest form of protection against these digital attacks,
          arming
          itself with a multitude of large,
          cryptographic keys and an array of data manipulation techniques <a href="#source2_learn">(Awatit)</a>. Maintaining the highest level of
          security over digital media, AES encryption
          is widely employed by the U.S. government and industry leaders alike for secure data transmission and storage 
          <a href="#source2_learn">(Awatit)</a>.
        </p>
        <p>
          Despite AES encryption's importance, understanding the step-by-step processes involved in secure encryption
          remains complex and inaccessible to many learners.
          Furthermore, while encryption can be software-driven, hardware acceleration offers the potential for
          significant
          improvements in speed and security, yet
          practical demonstrations are limited. This gap in understanding AES encryption and hardware offloading
          techniques creates an educational void that demands attention.
        </p>
        <p>
          This project aims to develop an educational website that provides a clear, interactive demonstration of the
          AES
          encryption process. Moreover, it will perform
          three main functions: illustrate each step of AES encryption in a user-friendly and visually engaging manner;
          integrate a PYNQ circuit board to demonstrate
          the hardware acceleration of AES encryption; and offer learners a comprehensive understanding of both the
          theoretical and practical aspects of modern cryptographic practices.
        </p>
        <br>
        <br>

        <div id="Sbox">
          <hr>
          <h2>Substitution Box (S-Box)</h2>

          <br> <br>
        </div>


        <div id="keyExpansion">
          <hr>
          <h2>Key Expansion</h2>

          <br> <br>
        </div>


        <div id="addRoundKey">
          <hr>
          <h2>Add Round Key</h2>

          <br> <br>
        </div>


        <div id="subBytes">
          <hr>
          <h2>Sub Bytes</h2>

          <br> <br>
        </div>


        <div id="shiftRows">
          <hr>
          <h2>Shift Rows</h2>

          <br> <br>
        </div>


        <div id="mixColumns">
          <hr>
          <h2>Mix Columns</h2>

          <br> <br>
        </div>

      </div>
    </div>
  </main>

  <footer id="footer_learn">
    <ul>
      <li><a id="source1_learn">Cost of a Data Breach Report 2024. IBM Corporation, July 2024, https://www.ibm.com/reports/data-breach.</a></li>
      <li><a id="source2_learn">Awati, Rahul, et al. “What Is the Advanced Encryption Standard (AES)?” TechTarget, Informa TechTarget, Feb. 2024, www.techtarget.com/searchsecurity/definition/Advanced-Encryption-Standard.</a></li>
      <li><a id="source3_learn">Citation 3</a></li>
    </ul>
  </footer>

  <script>
    document.getElementById('nav_history').addEventListener('click', function (event) {
      event.preventDefault();  // Prevent default anchor behavior
      window.location.href = '/history';  // Navigate to the history page
    });

    document.getElementById('nav_demo').addEventListener('click', function (event) {
      event.preventDefault();  // Prevent default anchor behavior
      window.location.href = '/demo';  // Navigate to the history page
    });

    document.getElementById('nav_timing').addEventListener('click', function (event) {
      event.preventDefault();  // Prevent default anchor behavior
      window.location.href = '/timing';  // Navigate to the timing page
    });

    document.getElementById('nav_learn').addEventListener('click', function (event) {
      event.preventDefault();  // Prevent default anchor behavior
      window.location.href = '/learn';  // Navigate to the learn page
    });

    document.getElementById('nav_about').addEventListener('click', function (event) {
      event.preventDefault();  // Prevent default anchor behavior
      window.location.href = '/about';  // Navigate to the About page
    });

    document.getElementById('nav_home').addEventListener('click', function (event) {
      event.preventDefault();  // Prevent default anchor behavior
      window.location.href = '/';  // Navigate to the home page
    });

  </script>
</body>

</html>