<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="AES Encryption Website">
  <link rel="stylesheet" type="text/css" href="/static/style1.css?v={{time}}">
  <title>AES Encryption Explorer</title>
</head>

<body id="body_learn">
  <header>
    <nav>
      <ul>
        <li><a id="nav_timing">Timing</a></li>
        <li><a id="nav_history">History</a></li>
        <li><a id="nav_demo">Demo</a></li>
        <li><a class="active" id="nav_learn">Learn</a></li>
        <li><a id="nav_about">About</a></li>
        <li><a id="nav_home">Home</a></li>
        <li><a style="float:left" id="navTitle">AES Encryption Explorer</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div id="learn_main">


      <!-- The sidebar -->
      <div class="sidebar">
        <a href="#Sbox">S-Box</a>
        <a href="#keyExpansion">Key Expansion</a>
        <a href="#addRoundKey">Add Round Key</a>
        <a href="#subBytes">Sub Bytes</a>
        <a href="#shiftRows">Shift Rows</a>
        <a href="#mixColumns">Mix Columns</a>
      </div>



      <div id="text_learn">
        <h1>Learn How AES Encryption Works</h1>

        <br>
        <br>

        <div id="Sbox">
          <hr>
          <h2>Substitution Box (S-Box)</h2>
         
          <br> <br>
        </div>


        <div id="keyExpansion">
          <hr>
          <h2>Key Expansion</h2>

          <br> <br>
        </div>


        <div id="addRoundKey">
          <hr>
          <h2>Add Round Key</h2>

          <br> <br>
        </div>


        <div id="subBytes">
          <hr>
          <h2>Sub Bytes</h2>

          <br> <br>
        </div>


        <div id="shiftRows">
          <hr>
          <h2>Shift Rows</h2>

          <br> <br>
        </div>


        <div id="mixColumns">
          <hr>
          <h2>Mix Columns</h2>

          <br> <br>
        </div>

      </div>
    </div>
  </main>

  <footer id="footer_learn">
    <ul>
      <li><a id="source1_learn">Citation 1</a></li>
      <li><a id="source2_learn">Citation 2</a></li>
      <li><a id="source3_learn">Citation 3</a></li>
    </ul>
  </footer>

  <script>
    document.getElementById('nav_history').addEventListener('click', function (event) {
      event.preventDefault();  // Prevent default anchor behavior
      window.location.href = '/history';  // Navigate to the history page
    });

    document.getElementById('nav_demo').addEventListener('click', function (event) {
      event.preventDefault();  // Prevent default anchor behavior
      window.location.href = '/demo';  // Navigate to the history page
    });

    document.getElementById('nav_timing').addEventListener('click', function (event) {
      event.preventDefault();  // Prevent default anchor behavior
      window.location.href = '/timing';  // Navigate to the timing page
    });

    document.getElementById('nav_learn').addEventListener('click', function (event) {
      event.preventDefault();  // Prevent default anchor behavior
      window.location.href = '/learn';  // Navigate to the learn page
    });

    document.getElementById('nav_about').addEventListener('click', function (event) {
      event.preventDefault();  // Prevent default anchor behavior
      window.location.href = '/about';  // Navigate to the About page
    });

    document.getElementById('nav_home').addEventListener('click', function (event) {
      event.preventDefault();  // Prevent default anchor behavior
      window.location.href = '/';  // Navigate to the home page
    });

  </script>
</body>

</html>